{% extends 'store/base.html' %}
{% block title %}Category details{% endblock %}

{% block body %}
    <h2>Category: {{ category.name }}</h2>
    <img src="{{ category.category_logo.url }}" title="{{ category.name }}">
    <h3>All {{ category.name }}s:</h3>
    <ul class="products" style="list-style-type:none">


        {% for product in category.product_set.all %}
            <h5>
                <li class="textForProducts">{{ product.maker }} {{ product.model }} - {{ product.price }}lv.</li>

                <img onclick="alert('{{ product.description }}')" class="forDescription"
                     src="{{ product.product_logo.url }}" title="{{ product.maker }} {{ product.model }}"><br>
                <button type="button">Add to Cart</button>
            </h5>

        {% endfor %}
    </ul>
{% endblock %}