{% extends 'store/base.html' %}
{% block title %}Category details{% endblock %}

{% block body %}
    <h2>Category: {{ category.name }}</h2>
    <img height="135" width="240" src="{{ category.category_logo.url }}" title="{{ category.name }}">
    <h3>All {{ category.name }}s:</h3>
    <ul class="products" style="list-style-type:none">
        {% for product in category.product_set.all %}
            <form method="get" action="">
                <h4 class="productDescription">{{ product.maker }} {{ product.model }} - {{ product.price }}lv.</h4>
                <input type="image" class="forDescription" src="{{ product.product_logo.url }}" title="{{ product.maker }} {{ product.model }}" width="160" height="90">
                <button type="submit" class="btn btn-default">Add to cart</button>
            </form>
        {% endfor %}
    </ul>
{% endblock %}