{% extends 'store/base.html' %}
{% block title %}Category details{% endblock %}

{% block style %}
    <style>
        label{
            margin-top:20px;
            display:inline-block;
            margin-left:25px;
        }

        select.input-sm{
            margin-left: 25px;
        }
    </style>
{% endblock %}

{% block body %}
    <h2>Category: <i>{{ category.name }}</i></h2>
    <img height="135" width="240" src="{{ category.category_logo_thumbnail.url }}" title="{{ category.name }}">

    <form action="{% url 'store:detail' category.id %}?model={{ request.GET.model }}&priceCategory={{ request.GET.priceCategory }}" method="get">
        <div style="margin-left: 10px;" class="row" style="min-height:63px;">
            <div class="form-group col-md-1">
                <label>Модел</label>
                <input type="text" name="model" {% if request.GET.model %}value="{{ request.GET.model }}"{% else %}value=""{% endif %} size="12">
                <div id="modelsearch"></div>
            </div>

            <div class="row" style="min-height:63px;">
                <div id="priceCategory" class="form-group col-md-1">
                    <label>Цена</label>
                        <select id="selectPriceCategory" name="priceCategory" class="input-sm form-control select2-trigger" >
                            <option value="" disabled selected>Избери</option>
                            <option value="1"><100</option>
                            <option value="2">100-200</option>
                            <option value="3">200-300 </option>
                            <option value="4">300-400</option>
                            <option value="5">400-500</option>
                            <option value="6">500+</option>
                        </select>
                </div>

                <div id="sortby" class="form-group col-md-1">
                    <label>Сортирай по</label>
                        <select id="selectSortBy" name="sortby" class="input-sm form-control select2-trigger">
                            <option value="" disabled selected>Избери</option>
                            <option value="price">Цена (възходящо)</option>
                            <option value="-price">Цена (низходящо)</option>
                            <option value="maker">Производител</option>
                            <option value="model">Модел</option>
                        </select>
                </div>
            </div>
        </div>
        <button class="SrcBtn" style="margin-left: 25px;" type="submit">Търси</button>
    </form>


    <h3>All <i>{{ category.name }}</i>s:</h3>
    <ul class="products" style="list-style-type:none">
        {% if all_products %}
            {% for product in all_products %}
                <form method="get" action="">
                    <h4 class="productDescription">{{ product.maker }} {{ product.model }} - <i style="color:red">{{ product.price }}</i></h4>
                    <input type="image" class="forDescription" src="{{ product.product_logo_thumbnail.url }}" title="{{ product.maker }} {{ product.model }}" width="180" height="100">
                </form>
                <form action="{% url 'store:purchase' %}" method="get">
                    <input type="hidden" name="id" value="{{ product.id }}">
                    {% if product.quantity > 0 %}
                        <input type="submit" value="Buy">
                    {% else %}
                        <input type="submit" value="Not in stock" disabled>
                    {% endif %}
                </form>
        {% endfor %}
        {% else %}
            <h2>No matches!</h2>
        {% endif %}
    </ul>

    {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="{% url 'store:detail' %}?page={{ page_obj.previous_page_number }}&model={{ request.GET.model }}&priceCategory={{ request.GET.priceCategory }}"><- previous</a>
                    {% endif %}
                    <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="{% url 'store:detail' %}?page={{ page_obj.next_page_number }}&model={{ request.GET.model }}&priceCategory={{ request.GET.priceCategory }}">next -></a>
                    {% endif %}
                </span>
            </div>
    {% endif %}
{% endblock %}