<script>
    var _timer = 0;

    function DelayedShowResult(value, num) {
      if (_timer)
          window.clearTimeout(_timer);
      _timer = window.setTimeout(function() {
          showResult(value);
      }, 200);
    }

    function showResult(str) {
      if (str.length==0)
      {
        document.getElementById("livesearch").innerHTML="";
        document.getElementById("livesearch").style.border="0px";
        return;
      }
      if (window.XMLHttpRequest)
      {
        xmlhttp=new XMLHttpRequest();
      }
      else
      {
        xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
      }

      xmlhttp.onreadystatechange=function()
      {
        if (xmlhttp.readyState==4 && xmlhttp.status==200)
        {
          document.getElementById("livesearch").innerHTML=xmlhttp.responseText;
          document.getElementById("livesearch").style.border="1px solid #A5ACB2";
        }
      }
      xmlhttp.open("GET","http://localhost/getmaker.php?q="+str,true);
      xmlhttp.send();
    }


    function updateQueryStringParameter(uri, key, value) {
      var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
      var separator = uri.indexOf('?') !== -1 ? "&" : "?";
      if (uri.match(re)) {
        return uri.replace(re, '$1' + key + "=" + value + '$2');
      }
      else {
        return uri + separator + key + "=" + value;
      }
    }

    $(function(){
      $('#selectPriceCategory').on('change', function () {
          var pricecat = $(this).val();
          console.log(pricecat)
          if (pricecat) {
              window.location = updateQueryStringParameter(window.location.href, 'priceCategory', pricecat);
          }
          return false;
      });
    });

    $(function(){
      $('#selectSortBy').on('change', function () {
          var sortby = $(this).val();
          if (sortby) {
              window.location = updateQueryStringParameter(window.location.href, 'sortby', sortby);
          }
          return false;
      });
    });

    $(function(){
      $('#id_quantity').on('change', function () {
          var quantity = $(this).val();
          if (quantity) {
              document.getElementById("payment").innerHTML = "You are paying for " + quantity + " items!";
          }
          return false;
      });
    });


</script>

