<script>
    var _timer = 0;

    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

    $(document).ready(function() {
        $('#selectPriceCategory').multiselect({
            buttonWidth: '125px',
            nonSelectedText: 'Избери',
            numberDisplayed: 1,
            includeSelectAllOption: true
        });
        var priceCategory = getParameterByName('priceCategory');
        if (priceCategory){
            var priceCatArr=priceCategory.split(",");
            $("#selectPriceCategory").val(priceCatArr);
            $("#selectPriceCategory").multiselect("refresh");
        }


        var sortby = getParameterByName('sortby');
        $('#selectSortBy').val(sortby);

        var model = getParameterByName('model');
        $('#searchformodel').val(model);
    });



    function DelayedShowResult(value) {
      if (_timer)
          window.clearTimeout(_timer);
      _timer = window.setTimeout(function() {
          showResult(value);
      }, 200);
    }

    function DelayedModelFilter(model) {
      if (_timer)
          window.clearTimeout(_timer);
      _timer = window.setTimeout(function() {
          window.location = updateQueryStringParameter(window.location.href, 'model', model);
      }, 400);
    }

    function DelayedPriceFilter(pricecat) {
      if (_timer)
          window.clearTimeout(_timer);
      _timer = window.setTimeout(function() {
          window.location = updateQueryStringParameter(window.location.href, 'priceCategory', pricecat);
      }, 1000);
    }

    function showResult(str) {
      if (str.length==0)
      {
        document.getElementById("livesearch").innerHTML="";
        document.getElementById("livesearch").style.border="0px";
        return;
      }
      if (window.XMLHttpRequest)
      {
        xmlhttp=new XMLHttpRequest();
      }
      else
      {
        xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
      }

      xmlhttp.onreadystatechange=function()
      {
        if (xmlhttp.readyState==4 && xmlhttp.status==200)
        {
          document.getElementById("livesearch").innerHTML=xmlhttp.responseText;
          document.getElementById("livesearch").style.border="1px solid #A5ACB2";
        }
      }
      xmlhttp.open("GET","http://localhost/getmaker.php?q="+str,true);
      xmlhttp.send();
    }


    function updateQueryStringParameter(uri, key, value) {
      var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
      var separator = uri.indexOf('?') !== -1 ? "&" : "?";
      if (uri.match(re)) {
        return uri.replace(re, '$1' + key + "=" + value + '$2');
      }
      else {
        return uri + separator + key + "=" + value;
      }
    }

    $(function(){
      $('#selectPriceCategory').on('change', function () {
          var pricecat = $(this).val();
          console.log(pricecat)
          if (pricecat) {
              DelayedPriceFilter(pricecat);
          }
          return false;
      });
    });

    $(function(){
      $('#selectSortBy').on('change', function () {
          var sortby = $(this).val();
          if (sortby) {
              window.location = updateQueryStringParameter(window.location.href, 'sortby', sortby);
          }
          return false;
      });
    });

    $( document ).on( 'keydown', function ( e ) {
        if ( e.keyCode === 27 ) { // ESC
            $('#livesearch').hide();
        }
    });

    $(function(){
      $('#searchformodel').on('keyup', function () {
          var model = $(this).val();
          if (model) {
              DelayedModelFilter(model);

          }
          return false;
      });
    });

    $(function(){
      $('#id_quantity').on('change', function () {
          var quantity = $(this).val();
          try{
              var price = document.getElementById ("purchasedetails").innerText.split(" ")[7];
          }
          catch(err){
              console.log(err);
          }

          try{
              var currency = document.getElementById ("purchasedetails").innerText.split(" ")[8];
          }
          catch(err){
              console.log(err);
          }


          if (quantity && price) {
              var summary = quantity * price;
              document.getElementById("payment").innerHTML = "Total cost: " + summary + currency;
          }
          return false;
      });
    });



</script>

