{% extends 'store/base.html' %}

{% block body %}
    {% if all_categories %}
        <h3>Here are all categories:</h3>
        <ul style="list-style-type:none">
            {% for category in all_categories %}
                <li class="list">

                    <div class="pagebreak">
                        <a style="page-break-after:always;" href="{% url 'store:detail' category.id %}">
                            <img class="img" src="{{ category.category_logo.url }}" class="img-responsive" title="{{ category.name }}" height="135" width="240"><br>
                        </a>
                    </div>
                </li>
            {% endfor %}
        </ul>
        {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="{% url 'store:index' %}?page={{ page_obj.previous_page_number }}"><- previous</a>
                    {% endif %}
                    <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="{% url 'store:index' %}?page={{ page_obj.next_page_number }}">next -></a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
    {% else %}
        <h3>You don't have any categories!</h3>
    {% endif %}
{% endblock %}