{% extends 'store/base.html' %}
{% block title %}All products{% endblock %}


{% block body %}
    <h2>All products:</h2>
    <ul class="allProducts" style="list-style-type:none">

    {% for product in all_products %}
        <form method="get" action="">
            <h4 class="productDescription">{{ product.maker }} {{ product.model }} - {{ product.price }}lv.</h4>
            <input type="image" src="{{ product.product_logo.url }}" title="{{ product.maker }} {{ product.model }}" width="160" height="90">
            <button type="submit" class="btn btn-default">Add to cart</button>
        </form>
    {% endfor %}

    </ul>
    {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="{% url 'store:index' %}?page={{ page_obj.previous_page_number }}"><- previous</a>
                    {% endif %}
                    <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="{% url 'store:products' %}?page={{ page_obj.next_page_number }}">next -></a>
                    {% endif %}
                </span>
            </div>
    {% endif %}
{% endblock %}