{% extends 'store/base.html' %}
{% block title %}All products{% endblock %}

{% block style %}
    <style>
        label{
            margin-top:20px;
            display:inline-block;
            margin-left:25px;
        }

        select.input-sm{
            margin-left: 25px;
        }
    </style>
{% endblock %}

{% block body %}
    <h2>All products:</h2>
    <ul class="allProducts" style="list-style-type:none">

    <form action="{% url 'store:products' %}?model={{ request.GET.model }}&priceCategory={{ request.GET.priceCategory }}" method="get">
                <div class="row" style="min-height:63px;">
                    <div class="form-group col-md-1">
                        <label>Модел</label>
                        <input type="text" name="model" {% if request.GET.model %}value="{{ request.GET.model }}"{% else %}value=""{% endif %} size="12">
                    </div>

                    <div class="row" style="min-height:63px;">
                        <div class="form-group col-md-1">
                            <label>Цена</label>
                                <select class="input-sm form-control select2-trigger" id="price" name="priceCategory"><option value="">Избери</option>
                                    <option value="1"><100</option>
                                    <option value="2">100-200</option>
                                    <option value="3">200-300 </option>
                                    <option value="4">300-400</option>
                                    <option value="5">400-500</option>
                                    <option value="6">500+</option>
                                </select>
                        </div>
                    </div>
                </div>
                <button type="submit">Търси</button>
            </form>

    {% for product in all_products %}
        <form method="get" action="">
            <h4 class="productDescription">{{ product.maker }} {{ product.model }} - <i style="color:red">{{ product.price }}</i></h4>
            <input type="image" src="{{ product.product_logo.url }}" title="{{ product.maker }} {{ product.model }}" width="160" height="90">
        </form>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_xclick">
            <input type="hidden" name="business" value="s.zmiycharov@gmail.com">
            <input type="hidden" name="item_name" value="Item Name">
            <input type="hidden" name="currency_code" value="USD">
            <input type="hidden" name="amount" value="{{ product.price|floatformat:2 }}">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
        </form>
    {% endfor %}

    </ul>
    {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="{% url 'store:index' %}?page={{ page_obj.previous_page_number }}&model={{ request.GET.model }}&priceCategory={{ request.GET.priceCategory }}"><- previous</a>
                    {% endif %}
                    <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="{% url 'store:products' %}?page={{ page_obj.next_page_number }}&model={{ request.GET.model }}&priceCategory={{ request.GET.priceCategory }}">next -></a>
                    {% endif %}
                </span>
            </div>
    {% endif %}
{% endblock %}