{% extends 'store/base.html' %}
{% block title %}Search details{% endblock %}

{% block body %}
    <ul class="allProducts" style="list-style-type:none">
        {% if searchresults %}
            {% for product in searchresults %}
                <h4 class="productDescription">{{ product.maker }} {{ product.model }} - {{ product.price }}lv.</h4>
                <img class="allProdImg" src="{{ product.product_logo.url }}"
                     title="{{ product.maker }} {{ product.model }}"><br>
                <button type="button">Add to cart</button>
            {% endfor %}
        {% else %}
            <h2>No matches for your search!</h2>
        {% endif %}
    </ul>
    {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="{% url 'store:index' %}?page={{ page_obj.previous_page_number }}"><- previous</a>
                    {% endif %}
                    <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="{% url 'store:searchdetails' %}?page={{ page_obj.next_page_number }}">next -></a>
                    {% endif %}
                </span>
            </div>
    {% endif %}
{% endblock %}