body{
    background: white url("images/background.jpg");
}

.navbar{
    border-radius: 0;
}

.navbar-brand{
    font-family: 'Fjalla One', sans-serif;
    font-size: 165%;
}

.img:hover{
    opacity: 0.75;
}

.list{
  margin: 10px 0;
}

.products{
    margin: 10px 0;
}

.textForProducts{
    margin-bottom: 0px;
}

.forDescription{
    height: 5%;
    width: 10%;
}

.allProdImg{
    height: 5%;
    width: 10%;
    margin-bottom: 10px;
}

.productDescription{
    margin-top: 35px;
}

.pagebreak {
    page-break-before: always;
}

.btn{
    vertical-align: top;
}
