body{
    background: white url("images/background.jpg") !important;
}

.navbar{
    border-radius: 0 !important;
}

.navbar-brand{
    font-family: 'Fjalla One', sans-serif !important;
    font-size: 165% !important;
    padding-top: 15px;
}

.img:hover{
    opacity: 0.75 !important;
}

.list{
  margin: 10px 0 !important;
}

.products{
    margin: 10px 0 !important;
}

.textForProducts{
    margin-bottom: 0px !important;
}

.forDescription{
    height: 5% !important;
    width: 10% !important;
}

.allProdImg{
    height: 5% !important;
    width: 10% !important;
    margin-bottom: 10px !important;
}

.productDescription{
    margin-top: 35px !important;
}

.pagebreak {
    page-break-before: always !important;
}

.btn{
    vertical-align: top !important;
}

#livesearch{
    position:absolute;
    z-index:10;
    width: 202px;
    background-color: aliceblue;
}

a{
    color: #337ab7;
}

#sortby{
    top:-90px;
    left:320px;
}

#priceCategory{
    top:0px;
    left:-23px;
}

.SrcBtn{
    position:relative;
    top:-132px;
    left:490px;
}
























