body{
    background: white url("images/background.jpg");
}

.navbar{
    border-radius: 0;
}

.navbar-brand{
    font-family: 'Fjalla One', sans-serif;
    font-size: 165%;
}

.img:hover{
    opacity: 0.75;
}

.img {
    height: 10%;
    width: 15%;
}

.list{
  margin: 10px 0;
}

.products{
    margin: 10px 0;
}

.textForProducts{
    margin:0px 0;
}

.forDescription{
    height: 5%;
    width: 10%;
}

.forDescription:hover{
    opacity: 0.75;
}
