.longtext{
    width: 500px;
    height: 50px;
}

.shorttext{
    width:500px;
    height:20px;
}

h5{
    margin-top:-15px;
    font-weight: 100;
}

.verticalLine {
    border-left: thick solid #ff0000;
}